@import "../base/mixins";
@import "../base/variables";
@import "../base/webfonts";

nav {
  

  /* Tablet (>= 768px) */
  @include breakpoint(tablet) {
    margin-inline: $margin-sm;
  }

  /* Desktop (>= 1024px) */
  @include breakpoint(desktop) {
    margin-inline: $margin-md;
  }

  /* Large screens (>= 1440px) */
  @include breakpoint(large) {
    margin-inline: $margin-lg;
  }
}

.nav {
  //width: 100%;
  min-height: 4rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-inline: $margin-xs;

  &__logo {
    width: 6rem;
  }

  &__menu-mobile {
    display: flex;
    gap: .5rem;

    &-icon {
      font-size: 1.1rem;
      color: $on-background-primary;
    }
  }

  /* Tablet (>= 768px) */
  @include breakpoint(tablet) {
  }

  /* Desktop (>= 1024px) */
  @include breakpoint(desktop) {
  }

  /* Large screens (>= 1440px) */
  @include breakpoint(large) {
  }
}
