@import "../base/mixins";
@import "../base/variables";


.banner{
    background-color: $primary;
    height: 12rem;
    overflow: visible;
    position: relative;
    margin-block-start: 2rem;
    display: flex;
    align-items: flex-end;
    //justify-content: space-around;

    &__title{
      z-index: 3;
      position: inherit;
      margin-block-end: 1rem;
      margin-inline-start: 10%;
    }

    &__image-container{
        background-image: url('/dist/assets/images/page-picture/presents.png');
        background-repeat: no-repeat;
        position: absolute;
        bottom: 0;
        background-size: cover;
        background-position: center;
        width: 250px;
        height: 250px;
        z-index: 2;
        margin-inline-start: 10%;
        

          /* Tablet (>= 768px) */
        @include breakpoint(tablet) {
        }

        /* Desktop (>= 1024px) */
        @include breakpoint(desktop) {
        }

        /* Large screens (>= 1440px) */
        @include breakpoint(large) {
        }  
    }

    &__container-decoration-right{
      // position: absolute;
      // width: 150px;
      // height: auto; 
      // inset: 0 auto auto 0; 
      // z-index: 1;
      // transform: translate(100%, 0%);
    }
}

.breadcrumb{
  margin-inline: $margin-xs;
}

.orators_all{
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;

  @include breakpoint(tablet) {
    grid-template-columns: repeat(3, minmax(180px, 1fr)); // Tarjetas más compactas
    max-width: 800px; // Limita la expansión
    margin: 0 auto;
  }

  @media (desktop) { // Desktop (1024px en adelante)
    grid-template-columns: repeat(3, minmax(250px, 1fr)); // Tamaño más cómodo
    max-width: 1000px;
}

.orator{
  //padding-inline: $margin-sm;

  &__default{
    display: flex;
    padding-block: 1.5rem;
    padding-inline: $margin-xs;

    .orator__left{
      display: flex;
      flex-direction: column;
      flex: 2;
      gap: .1rem;

      .orator__name{

      }

      .orator__location{
        color: $on-background-secondary;
      }
    }

    .orator__right{
      

      .orator__pict{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 1px;
        width: 4rem;
        border-radius: 50%;
        overflow: hidden;
      }
    }
  }

  &__details {
    display: none;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    padding-block-start: 2rem;
    padding-block-end: 1rem;
    padding-inline: $margin-xs;
    background-color: #FFEEE6;
  
    main{
      display: flex;
      flex-direction: column;
      gap: .4rem;

      .orator__title{
      }

      .orator__description{
        color: $on-surface-secondary;
      }
    }

    footer{
      display: flex;
      justify-content: space-between;
      align-items: center;

      .footer-left{
        display: flex;
        gap: .3rem;
        color: $on-surface-primary;

        .orator__time{
          
        }
        .orator__info{
         
        }
      }

      .orator__about-CTA{
        padding-inline-start: 4rem;
        cursor: pointer;
      }
    }
  }
}

}

.orator.active .orator__details {
  display: flex;
  flex-direction: column;
  opacity: 1;
  gap: 2.5rem;
}

.orator.active .orator__default {
  display: none;
}