

h2 {
    font-family: 'museo';
    font-size: 3.052rem;
    line-height: .9;
    font-weight: 600;
    color: $on-primary;
}

h3{
    font-family: 'museo';
    font-size: 1.266rem;
    font-weight: 400;
    color: $on-background-primary;
}

p{
    font-family: 'league spartan';
    letter-spacing: .2px;
}