// **Colores principales**
$primary: #775AF2;        // Color principal (usado en elementos clave como botones y encabezados)
$secondary: #FF3700;      // Color secundario (usado para destacar elementos secundarios)

// **Colores de fondo y superficies**
$background: #F9F9F9;     // Fondo principal de la UI
$surface: #FEFEFE;   
$surface-secondary: #f1f1f1;
$surface-third: #343237;

// **Colores para textos y elementos sobre fondos**
$on-primary: #FEFEFE;     // Color del texto sobre el color primario
$on-secondary: #ffffff;   // Color del texto sobre el color secundario
$on-background-primary: #6A5F86;
$on-background-secondary: rgb(170, 161, 187);  // Color del texto sobre el fondo principal
$on-surface-primary: #343237;
$on-surface-secondary: #5b5459; 

// **Colores adicionales**
$border: #fafafa;         // Líneas divisorias y bordes sutiles
$highlight: #fefefe;      // Color para detalles llamativos

// **Margins inline **
$margin-xs: 16px;
$margin-sm: 24px;
$margin-md: 32px;
$margin-lg: 48px;